[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "themes/Greybird"]
	path = themes/Greybird
	url = https://github.com/shimmerproject/Greybird.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:Lokaltog/powerline.git
