autostart/
calibre/
configstore/
dconf/
deluge/
enchant/
google-chrome/
gtk-2.0/
libreoffice/
menus/
orage/
pulse/
Thunar/
mousepad/
update-notifier/
xfce4/
hub
travisify.json
user-dirs.dirs
user-dirs.locale
quicktile.cfg
.config
Skype/
Trolltech.conf
build/
config
marlin/
midori/
monitors.xml
plank/
software-center/
spotify/
terminator/
