name: "Check & Cachix"

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  devenv:
    strategy:
      fail-fast: false
      matrix:
        runsOn:
          - ubuntu-22.04
          - macos-13
          - macos-15
    runs-on: ${{ matrix.runsOn }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: cachix/cachix-action@v15
        with:
          name: devenv
      - run: nix profile install nixpkgs#devenv
      - name: Build devenv shell
        run: devenv shell -- echo OK
      - name: Check formatting
        run: devenv shell -- ./scripts/igm-fmt-check

  check:
    strategy:
      fail-fast: false
      matrix:
        runsOn:
          - ubuntu-22.04
          - macos-13
          - macos-15
    runs-on: ${{ matrix.runsOn }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: cachix/cachix-action@v15
        with:
          name: igm
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix -Lv flake check --show-trace
        working-directory: nix/

  linux:
    strategy:
      fail-fast: false
      matrix:
        nixosConfiguration:
          - ci-home
          - ci-bare
          - vbox-host
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get clean
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: cachix/cachix-action@v15
        with:
          name: igm
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix -Lv build "./nix#nixosConfigurations.${{ matrix.nixosConfiguration }}.config.system.build.toplevel"

  macos-15:
    strategy:
      fail-fast: false
      matrix:
        runsOn:
          - macos-15
    runs-on: ${{ matrix.runsOn }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: cachix/cachix-action@v15
        with:
          name: igm
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix -Lv build "nix/#darwinConfigurations.ci-personal.system"
